<!DOCTYPE html>
<html lang="et" >
<head>
    <title>Curriculum Vitae</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Margus Lillemagi - Curriculum Vitae" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{url_for('static' , filename= 'estilos_3.css')}}">
</head>
<body id="top">
    <!--Page 1-->
    <page size="A4">
        <div id="button" class="no-print">
        <button type="button" onclick="myFunction()"><span class="button-txt"><i class="fa fa-print" aria-hidden="true"></i>
        &nbsp;Imprimir PDF</span></button>
        <script>
            function myFunction() {
                window.print();
            }
        </script>
        </div>
        <div class="cv">
        <div id="header">
            <div class="contactDetails">
                <ul>
                    <li class="icon" title="Kirjuta mulle!"><a href="mailto:my@mail.ee"><i class="fa fa-envelope">&nbsp;&nbsp;</i>Direccion de Correo</a></li>
                    <li class="icon" title="Helista mulle!"><a href="tel:1234567"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;Numero de telefono</a></li>
                
                </ul>
            </div>
        </div>
        <div class="mainDetails">
            <div id="headshot">
                <img id="avatar" src="https://visualangle.ee/delivery/temp_image/icon.png" alt="Margus Lillemagi" title="See olen mina" />
            </div>
            <div id="name">
                <h1>Nombre</br>Apellido<span class="nameDetails">&nbsp;&nbsp;Fecha de Nacimiento</span></h1>
            </div>
            <div class="clear"></div>
        </div>
        <div id="mainArea">
            <section>
                <article>
                    <div class="sectionTitle">
                    <h1>Sobre mí</h1>
                    </div>
                    <div class="sectionContent">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </article>
                <div class="clear"></div>
            </section>
            <section>
                <div class="sectionTitle">
                    <h1>Habilidades y conocmiento</h1>
                </div>
                <div class="sectionContent">
                    <ul class="keySkills">
                    <li class="subDetails">Virtudes</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Honestidad</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Lealtad</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Puntualidad</li>
                    <li class="subDetails">Habilidades</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Trabajo en Equipo</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Trabajo bajo presion</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Enfoque en objetivos</li>

                    <li class="subDetails">Manejo de Software</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Word</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Excel</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Paint</li>

                    </ul>
                </div>
                <div class="clear"></div>
            </section>
            <section>
                <div class="sectionTitle">
                    <h1>Formacion Academica</h1>
                </div>
                <div class="sectionContent">
                    <ul class="list">
                        <li><span class="subDetails">2018 - k.a.&nbsp;&nbsp;</span><span class="bold">Universidad Nacional</span> - San Lorenzo.</li>
                        <li><span class="subDetails">2010 - 2012&nbsp;&nbsp;</span><span class="bold">Colegio Tecnico</span>- Cañadita</li>
                        <li><span class="subDetails">2008 - k.a.&nbsp;&nbsp;</span><span class="bold">Escuelita Kañy</span> - Kykyho</li>
                </div>
                <div class="clear"></div>
            </section>
            <section>
                <div class="sectionTitle">
                    <h1>Experiencia Laboral</h1>
                </div>
                <div class="sectionContent">
                    <ul class="list">
                    <li><span class="subDetails">2018 - k.a.&nbsp;&nbsp;</span><span class="bold">Lorem Ipsum</span> - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</li>
                    <li><span class="subDetails">2010 - 2012&nbsp;&nbsp;</span><span class="bold">Lorem Ipsum</span>- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</li>
                    <li><span class="subDetails">2008 - k.a.&nbsp;&nbsp;</span><span class="bold">Lorem Ipsum</span> - veebi- ja multimeedia lahenduste kujundamine, arendamine ja haldamine ning klientide nõustamine.</li>
                    <li><span class="subDetails">1990 - 2008.&nbsp;&nbsp;</span><span class="bold">Lorem Ipsum</span> - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</li>
                    </ul>
                </div>
                <div class="clear"></div>
            </section>
            <section>
                <div class="sectionTitle">
                    <h1>Referencia Laboral</h1>
                </div>
                <div class="sectionContent">
                    <ul class="list">
                    <li><span class="subDetails">2017-2019&nbsp;&nbsp;</span>Lorem ipsum dolor sit amet, consectetur</li>
                    <li><span class="subDetails">2001-2002&nbsp;&nbsp;</span>Lorem ipsum dolor sit amet</li>
                    <li><span class="subDetails">1997-1999&nbsp;&nbsp;</span>Consectetur adipiscing elit</li>
                    <li><span class="subDetails">1975-1986&nbsp;&nbsp;</span>Adipiscing elit</li>
                    </ul>
                </div>
                <div class="clear"></div>
            </section>
            <section>
                <div class="sectionTitle">
                    <h1>Idiomas</h1>
                </div>
                <div class="sectionContent">
                    <ul class="list">
                    <li><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Ingles - Intermedio</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Espanhol - Nativo</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Guarani - Nativo</li>
                    </ul>
                </div>
                <div class="clear"></div>
            </section>
        </div>
        </div>
    </page>
</body>
<html>  
